# docker-git-auth .env template
GIT_NAME=         # github username to authenticate as
GIT_PAT=          # github personal access token to authenticate as
GIT_REPOSITORY=   # the repository to clone (example: jhmaster2000/docker-git-auth)

# If the repository you're cloning requires additional env vars, put them below
